# Ignore Node.js modules
node_modules/**

# Ignore build and output directories
dist/**

# Ignore version control and metadata files
.git/
.gitignore

# Ignore temporary files
*.vsix
*.log
*.tmp

# Ignore IDE-specific files
.vscode/

# Ignore test files and directories
tests/
test/
*.spec.*

# Ignore documentation files
README.md
CHANGELOG.md

# Ignore other unnecessary files
package-lock.json

.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
